{% extends 'gestion_personajes/base.html' %}

{% block content %}
<div class="panel">
    <div class="title-row">
        <h2>{{ title }}</h2>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            {{ form.nivel.label_tag }}
            {{ form.nivel }}
        </div>
        <div class="form-group">
            {{ form.experiencia.label_tag }}
            {{ form.experiencia }}
        </div>
        <div class="form-group">
            {{ form.user.label_tag }}
            {{ form.user }}
        </div>

        <div class="form-group">
            {{ form.raza.label_tag }}
            {{ form.raza }}
        </div>
        <div class="form-group">
            {{ form.clase.label_tag }}
            {{ form.clase }}
        </div>

        <div class="form-group">
            {{ form.vida_actual.label_tag }}
            {{ form.vida_actual }}
        </div>
        <div class="form-group">
            {{ form.vida_maxima.label_tag }}
            {{ form.vida_maxima }}
        </div>
        
        <div class="form-group">
            {{ form.fuerza.label_tag }}
            {{ form.fuerza }}
        </div>
        <div class="form-group">
            {{ form.destreza.label_tag }}
            {{ form.destreza }}
        </div>
        <div class="form-group">
            {{ form.constitucion.label_tag }}
            {{ form.constitucion }}
        </div>
        <div class="form-group">
            {{ form.inteligencia.label_tag }}
            {{ form.inteligencia }}
        </div>
        <div class="form-group">
            {{ form.sabiduria.label_tag }}
            {{ form.sabiduria }}
        </div>
        <div class="form-group">
            {{ form.carisma.label_tag }}
            {{ form.carisma }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'gestion_personajes:personaje_list' %}" class="btn btn-neutral">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
